<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Смена пароля</title>
  <link rel="stylesheet" href="{% static 'css/codyhouse.css' %}">
</head>
<body>
  <div class="container grid justify-center">
    <form class="password-reset-form col-12 col-10@xs col-8@sm col-6@lg margin-top-lg margin-bottom-md" method="POST">
      {% csrf_token %}
      <div class="text-component text-center margin-bottom-md">
        <h1>Смена пароля</h1>
      </div>
      {% for message in messages %}
        {% if message.level_tag == 'error' %}
          <div class="alert alert--error alert--is-visible js-alert margin-bottom-sm" role="alert" style="background: rgba(224, 36, 71, 0.2); padding: 12.5px 18.75px 12.5px 18.75px;">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 32 32"><g><path d="M16,0C7.178,0,0,7.178,0,16s7.178,16,16,16s16-7.178,16-16S24.822,0,16,0z M17.929,7L17,19h-2L14.071,7 H17.929z M16,25c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2c1.105,0,2,0.895,2,2C18,24.105,17.105,25,16,25z"></path></g></svg>
              <p><strong>Ошибка:</strong> {{ message }}</p>
            </div>
          </div>
        {% elif message.level_tag == 'success' %}
          <div class="alert alert--success alert--is-visible js-alert margin-bottom-sm" role="alert" style="background: rgba(136, 197, 89, 0.2); padding: 12.5px 18.75px 12.5px 18.75px;">
            <div class="flex items-center">
              <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 32 32"><g><path d="M16,0C7.178,0,0,7.178,0,16s7.178,16,16,16s16-7.178,16-16S24.822,0,16,0z M17.929,7L17,19h-2L14.071,7 H17.929z M16,25c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2c1.105,0,2,0.895,2,2C18,24.105,17.105,25,16,25z"></path></g></svg>
              <p><strong>Успех:</strong> {{ message }}</p>
            </div>
          </div>
        {% endif %}
      {% endfor %}
      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-xxxs" for="oldpassword1">Старый пароль</label>
        <input class="form-control width-100%" type="password" name="oldpassword" id="oldpassword1" placeholder="Старый пароль">
      </div>
      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-xxxs" for="newpassword1">Новый пароль</label>
        <input class="form-control width-100%" type="password" name="newpassword1" id="newpassword1" placeholder="Новый пароль">
        <p class="text-xs color-contrast-medium margin-top-xxs">Минимум 8 знаков</p>
        <p class="text-xs color-contrast-medium margin-top-xxs">Минимум одна заглавная буква</p>
        <p class="text-xs color-contrast-medium margin-top-xxs">Минимум один специальный символ</p>
        <p class="text-xs color-contrast-medium margin-top-xxs">Пароль должен быть не похож на вашу личную информацию</p>
      </div>
      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-xxxs" for="newpassword2">Повторите пароль</label>
        <input class="form-control width-100%" type="password" name="newpassword2" id="newpassword2" placeholder="Повторите пароль">
      </div>
      <div class="margin-bottom-sm">
        <button class="btn btn--primary btn--md width-100%">Сменить пароль</button>
      </div>
      <div class="text-center">
        <p class="text-sm"><a href="/">&larr; Назад на главную страницу</a></p>
      </div>
    </form>
  </div>
  <script src="{% static 'js/codyhouse-js/scripts.min.js' %}"></script>
</body>
</html>