<!DOCTYPE html>
<html lang="ru">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <title>Регистрация</title>
  <link rel="stylesheet" href="{% static 'css/codyhouse.css' %}">
</head>
<body>
  <div class="container grid justify-center">
    <form class="sign-up-form col-12 col-10@xs col-8@sm col-6@lg margin-top-lg margin-bottom-md" method="POST" action="{% url 'prof:signup' %}">
      {% csrf_token %}
      <div class="text-component text-center margin-bottom-sm">
        <h1>Регистрация</h1>
        Уже есть аккаунт? <a href="{% url 'prof:login_vw' lang='ru' %}">Войти</a></p>
      </div>
      <div class="grid gap-xs">
        <div class="col-6@xs">
          <button class="btn btn--subtle width-100%">
            <img class="icon margin-right-xxxs" src="https://img.icons8.com/material-rounded/24/000000/vk-com.png"/>
            <span>Войти с ВК</span>
          </button>
        </div>
        <div class="col-6@xs">
          <button class="btn btn--subtle width-100%">
            <img class="icon margin-right-xxxs" src="https://img.icons8.com/material-rounded/24/000000/google-logo.png"/>
            <span>Войти с Google</span>
          </button>
        </div>
      </div>
      <p class="text-center margin-y-sm">или</p>
      {% for message in messages %}
        <div class="alert alert--error alert--is-visible js-alert margin-bottom-sm" role="alert" style="background: rgba(224, 36, 71, 0.2); padding: 12.5px 18.75px 12.5px 18.75px;">
          <div class="flex items-center">
            <svg aria-hidden="true" class="icon margin-right-xxxs" viewBox="0 0 32 32"><g><path d="M16,0C7.178,0,0,7.178,0,16s7.178,16,16,16s16-7.178,16-16S24.822,0,16,0z M17.929,7L17,19h-2L14.071,7 H17.929z M16,25c-1.105,0-2-0.895-2-2c0-1.105,0.895-2,2-2c1.105,0,2,0.895,2,2C18,24.105,17.105,25,16,25z"></path></g></svg>
            <p><strong>Ошибка:</strong> {{ message }}</p>
          </div>
        </div>
      {% endfor %}
      <div class="margin-bottom-sm">
        <div class="grid gap-xs">
          <div class="col-6@md">
            <label class="form-label margin-bottom-xxxs" for="username">Имя пользователя</label>
            <input class="form-control width-100%" type="text" name="username" id="username" placeholder="Имя пользователя">
          </div>
          <div class="col-6@md">
            <label class="form-label margin-bottom-xxxs" for="email">Эл. почта</label>
            <input class="form-control width-100%" type="email" name="email" id="email" placeholder="Эл. почта">
          </div>
        </div>
      </div>
      <div class="margin-bottom-sm">
        <label class="form-label margin-bottom-xxxs" for="password1">Пароль</label> 
        <input class="form-control width-100%" type="password" name="password1" id="password1" placeholder="Пароль">
        <p class="text-xs color-contrast-medium margin-top-xxs">Минимум 8 символов</p>
        <p class="text-xs color-contrast-medium margin-top-xxs">Минимум одна заглавная буква</p>
        <p class="text-xs color-contrast-medium margin-top-xxs">Минимум один специальный символ</p>
        <p class="text-xs color-contrast-medium margin-top-xxs">Ваш пароль не должен быть похож на вашу личную информацию</p>
      </div>
      <div class="margin-bottom-md">
        <label class="form-label margin-bottom-xxxs" for="password2">Повторите пароль</label> 
        <input class="form-control width-100%" type="password" name="password2" id="password2" placeholder="Повторите пароль">
      </div>
      <div class="margin-bottom-sm">
        <button class="btn btn--primary btn--md width-100%">Зарегистрироваться</button>
      </div>
      <div class="text-right margin-top-sm">
        <a href="{% url 'prof:signup_vw' lang='ru' %}" class="text-sm">Русский</a>
        <a href="{% url 'prof:signup_vw' lang='en' %}" class="text-sm">English</a>
      </div>
    </form>  
  </div>
</body>
</html>