html {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

header {
	background: white;
	border-bottom-color: #C5C5C5;
	border-bottom-width: 1px;
	border-style: solid;
	bottom: 0;
}
header a:hover {
	text-decoration: none;
}
.header_avatar {
	width: 45px;
	height: 45px;
	border-radius: 100px;
}
.header_avatar_mobile {
	width: 38px;
	height: 38px;
	border-radius: 100px;
}
#header_username {
	font-size: 18px;
	padding-top: 8px;
	padding-left: 8px;
	color: black;
}
#header_username_mobile {
	font-size: 18px;
	padding-top: 4px;
	padding-left: 8px;
	color: black;
}



* {
	font-family: 'Segoe UI';
}

.list_title {
	cursor: pointer;
	color: #6c757d;
	text-decoration: none;
}
.list_title:hover {
	color: #6c757d;
}

.card {
	cursor: pointer;
}
.card:hover, .selected-card {
	border-color: #80bdff;
}

p.card-text, .note_form_label_title {
	font-size: 16px;
}

.card-footer.text-muted, .note_form_date {
	font-size: 14px;
}


#notes_list_wrapper, #trash_list_wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
}


#label_table div {
	padding: 20px;
	border-top: 2px solid white;
	border-bottom: 2px solid white;
	background: #f2f2f2;
}

#label_table div:first-child {
	border-top: none;
}
#label_table div:last-child {
	border-bottom: none;
}


#settings a {
	font-family: 'Segoe UI';
	font-size: 16px;
	text-decoration: none;
}
#settings a:hover {
	text-decoration: underline;
}

#profile_settings, #label_table, #interface_settings {
	font-size: 18px;
}

.label_input {
	height: 45px;
}

.profile-input {
	padding-top: 6px;
}


.alert--error {
	background: rgba(224, 36, 71, 0.2);
}
.alert--success {
	background: rgba(136, 197, 89, 0.2);
}
.alert--warning {
	background: rgba(255, 209, 56, 0.2);
}


pre.card-text {
	font-family: 'Segoe UI';
	font-size: 16px;
	white-space: pre-wrap;
    white-space: -moz-pre-wrap;
    white-space: -pre-wrap;
    white-space: -o-pre-wrap;
    word-wrap: break-word;
}


#logout_link:hover, #account_delete_link:hover {
	color: white;
}

.gallery-wrapper {
  overflow: hidden;
}




/* 5 back */
.f-header,
#label_list,
.f-header__nav,
#label_table div,
.modal header,
.card-footer,
.menu-bar__item:hover {background: hsl(240, 8%, 12%);}





/* 4 back */
body ,
#label_list li a:hover,
#search_input,
#profile_form_username,
#profile_form_email,
#new_note_form,
#new_note_title,
#new_note_content,
#edit_note_form,
#edit_note_title,
#edit_note_content,
.card-body,
#recovery_note_form,
#recovery_note_title,
#recovery_note_content,
#recovery_note_modal footer,
#label_delete_confirm .modal__content div:first-child,
#label_delete_confirm .modal__content footer,
#label_delete_confirm div,
#new_label_modal div,
#new_label_input,
#profile_delete_modal div,
#profile_delete_form_password,
#delete_notes_modal div,
#recovery_notes_modal div,
#delete_avatar_modal div,
.modal__close-btn--inner,
#edit_label_modal div,
#edit_label_input,
.modal__close-btn--outer {background: hsl(240, 4%, 20%) !important;}



/* 2 text */
#header_username,
#header_username_mobile,
.f-header__list li a,
#search_input,
.f-header__nav-control,
#notes_list h3,
.menu-bar *,
#search_result_text,
#settings h1,
legend h4,
#profile_form_username,
#profile_form_email,
.settings-links a,
#label_table a,
.radio-switch-v2__label,
#new_note_modal_title,
#new_note_title,
#new_note_content,
#new_note_form_labels div label,
.alert .flex *,
#edit_note_modal_title,
#edit_note_title,
#edit_note_content,
#edit_note_form_labels div label,
.card-title,
.card-text,
#recovery_note_modal_title,
#recovery_note_title,
#recovery_note_content,
#recovery_note_form_labels div label,
#label_delete_confirm_title,
#new_label_modal_title,
#new_label_input,
#profile_delete_modal_title,
#profile_delete_modal_description,
#profile_delete_form_password,
#delete_notes_modal_title,
#delete_notes_modal_description,
#recovery_notes_modal_title,
#recovery_notes_modal_description,
#delete_avatar_modal_title,
#delete_avatar_modal_description,
.modal__close-btn,
#edit_label_modal_title,
#edit_label_modal_description,
#edit_label_input {
	color: hsl(0, 0%, 95%) !important;
}




.f-header__list li a:hover,
.settings-links a:hover,
#label_table a:hover {
	color: hsl(0, 0%, 95%);
	text-decoration: underline;
}





/* border */
/* 3 */
#search_input,
#profile_form_username,
#profile_form_email,
#new_note_title,
#new_note_content,
#edit_note_title,
#edit_note_content,
.card,
#recovery_note_title,
#recovery_note_content,
#new_label_input,
#profile_delete_form_password,
#edit_label_input {border-color: hsl(240, 1%, 48%);}

/* 4 */
.f-header__nav:before,
.f-header__list li,
#label_table div,
.modal header,
header {border-color: hsl(240, 4%, 20%) !important;}


.card:hover, .selected-card {border-color: white;}



/* ALERTS */
.alert--success {background: hsl(94, 40%, 30%);}
.alert--error {background: hsl(349, 75%, 36%);}